
# ignore main wordpress files
wp-root/*
!wp-root/wp-content/

# ignore the default plugins
wp-root/wp-content/plugins/hello.php
wp-root/wp-content/plugins/index.php
wp-root/wp-content/plugins/akismet/*

# ignore the default themes
wp-root/wp-content/themes/twenty*/
wp-root/wp-content/themes/index.php

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite